<% layout('layout/boilerplate') %>
<div id="cluster-map"></div>

<div class="container py-2">
  <div class="row align-items-center">
    <div class="col-auto me-auto">
      <h1>All Campgrounds</h1>
    </div>
    <div class="col-auto">
      <form action="/campgrounds" method="GET">
        <div class="input-group pull-end">
          <input class="form-control" type="text" name="search" placeholder="Search..." />
          <button class="btn btn-primary" type="submit">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-search"
              viewBox="0 0 16 16"
            >
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
              />
            </svg>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container" id="campgrounds-container">
  <% for(let campground of campgrounds.docs){ %> <% let i = Math.floor(Math.random() * (campground.images.length)) %>
  <div class="card mb-3">
    <div class="row">
      <a class="col-md-4 fill" href="/campgrounds/<%=campground._id %>">
        <% if(campground.images.length){ %>
        <img class="img-fluid" alt="" src="<%=campground.images[i].url%>" />
        <% }else{ %>
        <img
          class="img-fluid"
          alt=""
          src="https://res.cloudinary.com/dwtonpdyy/image/upload/v1637402973/YelpCamp/n4p039aayotesio8qe0s.jpg"
        />
        <% } %>
      </a>
      <div class="col-md-8">
        <div class="card-body">
          <a href="/campgrounds/<%=campground._id %>" style="text-decoration: none; color: black"
            ><h5 class="card-title"><%=campground.title %></h5></a
          >
          <p class="card-text"><%=campground.description%></p>
          <p class="card-text">
            <small class="text-muted"><%=campground.location %> </small>
          </p>
          <a href="/campgrounds/<%=campground._id %>" class="btn btn-primary">View <%=campground.title %> </a>
        </div>
      </div>
    </div>
  </div>
  <%} %>
</div>
<div class="text-center">
  <% if(typeof searchterm != "undefined" && campgrounds.nextPage != null){ %>
  <a href="/campgrounds?page=<%= campgrounds.nextPage %>&search=<%=searchterm%>" id="paginate" class="btn btn-primary"
    >View More</a
  >
  <% } else if(campgrounds.nextPage != null){ %>
  <a href="/campgrounds?page=<%= campgrounds.nextPage %>" id="paginate" class="btn btn-primary mb-3">View More</a>
  <% } %>
</div>

<script>
  console.log("Test");
  const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
  const campgrounds = { features: <%- JSON.stringify(campgrounds.docs) %> };
</script>

<script src="/scripts/clusterMap.js"></script>
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"
></script>
<script src="/scripts/pagination.js"></script>
